<ion-header>
  <ion-toolbar>
    <ion-title>login- Hello World</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Login Here</ion-card-title>
    </ion-card-header>
  
    
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="password"></ion-input>
      </ion-item>
      <br> 
      <ion-button (click)="logMeIn()">login</ion-button>
    </ion-card-content>
  </ion-card> 
</ion-content>
